In [6]:
import numpy as np
import pandas as pd

from os import listdir
from os.path import isfile, join

[Crime and Incarceration in the USA](https://www.kaggle.com/datasets/christophercorrea/prisoners-and-crime-in-united-states)

In [135]:
crime_incarceration = pd.read_csv('input/prisoners-and-crime-in-united-states/crime_and_incarceration_by_state.csv')
crime_incarceration = crime_incarceration.convert_dtypes()
# combining rapes
crime_incarceration['rape'] = crime_incarceration.rape_legacy.fillna(crime_incarceration.rape_revised)
crime_incarceration.drop(columns=['includes_jails',
                                  'prisoner_count',
                                  'crime_reporting_change',
                                  'crimes_estimated',
                                  'rape_legacy',
                                  'rape_revised'], inplace=True)
# dropping federal jurisdiction
crime_incarceration = crime_incarceration[crime_incarceration.jurisdiction != 'FEDERAL']
crime_incarceration = crime_incarceration.rename(columns={'jurisdiction': 'state'})
crime_incarceration.state = crime_incarceration.state.str.title()
crime_incarceration = crime_incarceration.rename(columns={'murder_manslaughter': 'murder'})

In [136]:
# NaNs in each state data
crime_incarceration.set_index('state').isna().groupby(level=0).sum().sum(axis=1)

state
Alabama            0
Alaska             0
Arizona            0
Arkansas           0
California         0
Colorado           0
Connecticut        0
Delaware           0
Florida            0
Georgia            0
Hawaii             0
Idaho              0
Illinois           0
Indiana            0
Iowa               0
Kansas             0
Kentucky           0
Louisiana          0
Maine              0
Maryland           0
Massachusetts      0
Michigan           0
Minnesota          0
Mississippi        0
Missouri           0
Montana            0
Nebraska           0
Nevada             0
New Hampshire      0
New Jersey         0
New Mexico         0
New York          10
North Carolina     0
North Dakota       0
Ohio               0
Oklahoma           0
Oregon             0
Pennsylvania       0
Rhode Island       0
South Carolina     0
South Dakota       0
Tennessee          0
Texas              0
Utah               0
Vermont            0
Virginia           0
Washington         0
West Virginia      0
Wisconsin          0
Wyoming            0
dtype: int64

In [137]:
# let's look at New York
crime_incarceration[crime_incarceration.state == 'New York']

,state,year,state_population,violent_crime_total,murder,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft,rape
32,New York,2001,19084350,98022,960,36555,56961,458003,80400,329316,48287,3546
83,New York,2002,19134293,95030,909,36653,53583,442091,76700,318025,47366,3885
134,New York,2003,19212425,89486,934,35790,48987,432079,75453,311422,45204,3775
185,New York,2004,19280727,84914,889,33506,46911,422734,70696,311036,41002,3608
236,New York,2005,19315721,85839,874,35179,46150,405990,68034,302220,35736,3636
287,New York,2006,19306183,84016,922,34459,45467,398577,68617,297827,32133,3168
338,New York,2007,19297729,79962,805,31085,45144,383624,64914,290681,28029,2928
389,New York,2008,19490297,77546,836,31787,42125,388599,65544,297962,25093,2798
440,New York,2009,19541453,75110,781,28141,43606,377537,62769,292897,21871,2582
491,New York,2010,19395206,76492,868,28630,44197,379710,65839,293232,20639,2797
542,New York,2011,19501616,77463,769,28405,45538,371837,65227,287361,19249,2751
593,New York,2012,19576125,79535,683,28633,47382,375268,64389,293562,17317,2837
644,New York,2013,19695680,77563,644,27241,46130,358603,56444,286676,15483,2575
695,New York,2014,19746227,75398,617,24045,45303,339282,50781,272765,15736,3918
746,New York,2015,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
797,New York,2016,19836286,74315,629,22310,45095,305224,39850,250990,14384,6281

In [138]:
columns = ['year', 'state_population', 'violent_crime_total',
           'murder', 'robbery', 'agg_assault',
           'property_crime_total', 'burglary', 'larceny',
           'vehicle_theft', 'rape']

In [139]:
# filling in the missing values with mean of previous and next year 
crime_incarceration[columns] = ((crime_incarceration.groupby('state')[columns].ffill() + \
                                 crime_incarceration.groupby('state')[columns].bfill()) / 2).astype('int')

In [140]:
crime_incarceration[crime_incarceration.state == 'New York']

,state,year,state_population,violent_crime_total,murder,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft,rape
32,New York,2001,19084350,98022,960,36555,56961,458003,80400,329316,48287,3546
83,New York,2002,19134293,95030,909,36653,53583,442091,76700,318025,47366,3885
134,New York,2003,19212425,89486,934,35790,48987,432079,75453,311422,45204,3775
185,New York,2004,19280727,84914,889,33506,46911,422734,70696,311036,41002,3608
236,New York,2005,19315721,85839,874,35179,46150,405990,68034,302220,35736,3636
287,New York,2006,19306183,84016,922,34459,45467,398577,68617,297827,32133,3168
338,New York,2007,19297729,79962,805,31085,45144,383624,64914,290681,28029,2928
389,New York,2008,19490297,77546,836,31787,42125,388599,65544,297962,25093,2798
440,New York,2009,19541453,75110,781,28141,43606,377537,62769,292897,21871,2582
491,New York,2010,19395206,76492,868,28630,44197,379710,65839,293232,20639,2797
542,New York,2011,19501616,77463,769,28405,45538,371837,65227,287361,19249,2751
593,New York,2012,19576125,79535,683,28633,47382,375268,64389,293562,17317,2837
644,New York,2013,19695680,77563,644,27241,46130,358603,56444,286676,15483,2575
695,New York,2014,19746227,75398,617,24045,45303,339282,50781,272765,15736,3918
746,New York,2015,19791256,74856,623,23177,45199,322253,45315,261877,15060,5099
797,New York,2016,19836286,74315,629,22310,45095,305224,39850,250990,14384,6281

In [141]:
years = crime_incarceration.year.astype('str').unique()

[US Mass Shootings](https://www.kaggle.com/datasets/zusmani/us-mass-shootings-last-50-years)

In [142]:
mass_shootings = pd.read_csv('input/us-mass-shootings-last-50-years/Mass shooting data.csv')
mass_shootings['year'] = mass_shootings['Incident Date'].apply(lambda x: x.split(',')[-1].strip())
mass_shootings = mass_shootings[mass_shootings['year'].isin(years)]
mass_shootings['mass_shooting_victims'] = mass_shootings['# Killed'] + mass_shootings['# Injured']
mass_shootings.drop(columns=['Incident ID',
                             'Incident Date',
                             'City Or County',
                             'Address',
                             '# Killed',
                             '# Injured',
                             'Operations'], inplace=True)
mass_shootings.head()

            State  year  mass_shooting_victims
1857      Georgia  2016                      4
1858        Texas  2016                      4
1859         Ohio  2016                      5
1860  Connecticut  2016                      5
1861      Georgia  2016                      5

In [143]:
# what years are considered?
mass_shootings['year'].value_counts()

2016    143
Name: year, dtype: int64

In [144]:
mass_shootings_prev = pd.read_csv('input/us-mass-shootings-last-50-years/Mass Shootings Dataset Ver 3.csv',
                                  encoding='latin')
# drop data with empty Location
mass_shootings_prev.dropna(subset=['Location'], inplace=True)
mass_shootings_prev['State'] = mass_shootings_prev.Location.apply(lambda x: x.split(',')[-1].strip())
mass_shootings_prev['year'] = mass_shootings_prev.Date.apply(lambda x: x.split('/')[-1].strip())
mass_shootings_prev = mass_shootings_prev[mass_shootings_prev['year'].isin(years)]
# dropping 2016 data since it has already been considered
mass_shootings_prev = mass_shootings_prev[mass_shootings_prev['year'] != '2016']
mass_shootings_prev = mass_shootings_prev[['State', 'year', 'Total victims']]
mass_shootings_prev = mass_shootings_prev.rename(columns={'Total victims': 'mass_shooting_victims'})
# change CA -> California
mass_shootings_prev.State = mass_shootings_prev.State.replace({'CA': 'California'})
# change Washington D.C. -> District of Columbia 
mass_shootings_prev.State = mass_shootings_prev.State.replace({'Washington D.C.': 'District of Columbia'})
mass_shootings_prev.head()

         State  year  mass_shooting_victims
76    Nebraska  2015                      5
77  California  2015                     35
78  California  2015                     35
79    Colorado  2015                     12
80        Ohio  2015                      4

In [145]:
# combining 2 mass shooting datasets
mass_shootings = pd.concat([mass_shootings, mass_shootings_prev])
mass_shootings = mass_shootings.groupby(['State', 'year']) \
                               .agg({'year':'count', 'mass_shooting_victims': 'sum'}) \
                               .rename(columns={'year': 'mass_shootings'}).reset_index()
mass_shootings = mass_shootings.rename(columns={'State': 'state'})
# dropping victims
mass_shootings.drop(columns=['mass_shooting_victims'], inplace=True)
mass_shootings.year = mass_shootings.year.astype('int')
mass_shootings.head()

     state  year  mass_shootings
0  Alabama  2009               1
1  Alabama  2010               1
2  Alabama  2011               1
3  Alabama  2012               2
4  Alabama  2013               1

[Murders by method, USA, 1999-2016](https://www.kaggle.com/datasets/bryanmaloney/murders-by-method-usa-19992016)

The data starts since 2004

In [146]:
# addirional information on Alabama murders
alabama_murders = pd.read_csv('input/alabama-crimes/alabama.csv', sep=';')

In [147]:
murders = pd.read_csv('input/murders-by-method-usa-19992016/murders by type.csv')
murders = murders[murders['Year'].astype('str').isin(years)]
murders = murders.pivot(index=['Year', 'State'], columns='Type', values='By Weapon').reset_index()
murders.columns = ['year',
                   'state',
                   'murder_cutting',
                   'murder_firearms',
                   'murder_other', 
                   'murder_unarmed']
# dropping non-states USA territories
murders = murders[~murders['state'].isin(['Guam', 'U.S. Virgin Islands', 'Virgin Islands'])]
murders['total'] = murders[['murder_cutting',
                            'murder_firearms',
                            'murder_other', 
                            'murder_unarmed']].sum(axis=1)
murders = pd.concat([murders, alabama_murders])
murders.head()

,year,state,murder_cutting,murder_firearms,murder_other,murder_unarmed,total
0,2001,National,1796,8719,2313,924,13752.0
1,2002,National,1767,9369,1989,929,14054.0
2,2003,National,1816,9638,2010,944,14408.0
3,2004,Alabama,24,158,44,21,247.0
4,2004,Alaska,4,17,12,4,37.0

In [148]:
murder_comparison = pd.merge(murders[['year', 'state', 'total']],
                             crime_incarceration[['year', 'state', 'murder']],
                             left_on=['year', 'state'],
                             right_on=['year', 'state'],
                             how='left')
murder_comparison.dropna(inplace=True)
murder_comparison[~(murder_comparison['total'] <= murder_comparison['murder'])]

     year           state   total  murder
41   2004  South Carolina   287.0   286.0
96   2005        Virginia   459.0   458.0
111  2006           Idaho    36.0    35.0
115  2006          Kansas   126.0   125.0
129  2006      New Jersey   428.0   427.0
138  2006    Rhode Island    28.0    27.0
167  2007           Maine    21.0    20.0
170  2007        Michigan   672.0   661.0
240  2008           Texas  1372.0  1370.0
253  2009        Colorado   167.0   159.0
254  2009     Connecticut   107.0   106.0
269  2009        Michigan   625.0   623.0
302  2010      California  1811.0  1809.0
313  2010          Kansas   100.0    97.0
337  2010  South Carolina   280.0   265.0
378  2011        New York   774.0   769.0
390  2011            Utah    51.0    50.0
401  2012        Colorado   160.0   152.0
402  2012     Connecticut   146.0   117.0
403  2012        Delaware    57.0    56.0
458  2013            Iowa    42.0    41.0
468  2013        Missouri   371.0   369.0
470  2013        Nebraska    57.0    56.0
475  2013        New York   648.0   644.0
596  2016        Colorado   202.0   189.0
630  2016  South Carolina   363.0   358.0

FBI Hate Crimes in USA (1991-2020)

In [149]:
hate_crimes = pd.read_csv('input/fbi-hate-crimes-in-usa-19912020/Hate Crimes in USA 1991-2020.csv',
                          low_memory=False)
hate_crimes = hate_crimes[hate_crimes['STATE_NAME'] != 'Guam']
hate_crimes = hate_crimes[['DATA_YEAR', 'STATE_ABBR', 'STATE_NAME', 'OFFENSE_NAME']]
hate_crimes = hate_crimes[hate_crimes['DATA_YEAR'].astype('str').isin(years)]
# dropping Guam
hate_crimes = hate_crimes[hate_crimes['STATE_NAME'] != 'Guam']
# counting murders and non-murders
hate_crimes['hate_crime_murder'] = np.where(hate_crimes['OFFENSE_NAME'].str.contains('Murder and Nonnegligent Manslaughter'), 1, 0)
hate_crimes['hate_crime_other'] = np.where(hate_crimes['OFFENSE_NAME'].str.contains('Murder and Nonnegligent Manslaughter'), 0, 1)
# dropping offence name
hate_crimes.drop(columns=['OFFENSE_NAME'], inplace=True)
hate_crimes.columns = ['year', 'STATE_ABBR', 'state', 'hate_crime_murder', 'hate_crime_other']
hate_crimes.head()

       year STATE_ABBR   state  hate_crime_murder  hate_crime_other
73730  2001         AK  Alaska                  0                 1
73731  2001         AK  Alaska                  0                 1
73732  2001         AK  Alaska                  0                 1
73733  2001         AK  Alaska                  0                 1
73734  2001         AK  Alaska                  0                 1

In [150]:
hate_crimes = hate_crimes.groupby(['year', 'STATE_ABBR', 'state']) \
                         .agg({'hate_crime_murder': 'sum', 'hate_crime_other': 'sum'}).reset_index()

Concatenation

In [151]:
states = hate_crimes.groupby(['STATE_ABBR', 'state']).size().reset_index()
states = states[states.state != 'Guam']
states = pd.Series(states.state.values,index=states.STATE_ABBR).to_dict()
states.update({'HI': 'Hawaii'})

In [152]:
states

{'AK': 'Alaska',
 'AL': 'Alabama',
 'AR': 'Arkansas',
 'AZ': 'Arizona',
 'CA': 'California',
 'CO': 'Colorado',
 'CT': 'Connecticut',
 'DC': 'District of Columbia',
 'DE': 'Delaware',
 'FL': 'Florida',
 'GA': 'Georgia',
 'IA': 'Iowa',
 'ID': 'Idaho',
 'IL': 'Illinois',
 'IN': 'Indiana',
 'KS': 'Kansas',
 'KY': 'Kentucky',
 'LA': 'Louisiana',
 'MA': 'Massachusetts',
 'MD': 'Maryland',
 'ME': 'Maine',
 'MI': 'Michigan',
 'MN': 'Minnesota',
 'MO': 'Missouri',
 'MS': 'Mississippi',
 'MT': 'Montana',
 'NB': 'Nebraska',
 'NC': 'North Carolina',
 'ND': 'North Dakota',
 'NH': 'New Hampshire',
 'NJ': 'New Jersey',
 'NM': 'New Mexico',
 'NV': 'Nevada',
 'NY': 'New York',
 'OH': 'Ohio',
 'OK': 'Oklahoma',
 'OR': 'Oregon',
 'PA': 'Pennsylvania',
 'RI': 'Rhode Island',
 'SC': 'South Carolina',
 'SD': 'South Dakota',
 'TN': 'Tennessee',
 'TX': 'Texas',
 'UT': 'Utah',
 'VA': 'Virginia',
 'VT': 'Vermont',
 'WA': 'Washington',
 'WI': 'Wisconsin',
 'WV': 'West Virginia',
 'WY': 'Wyoming',
 'HI': 'Hawaii'}

In [153]:
# crime_incarceration + murders
crime_incarceration = pd.merge(crime_incarceration,
                               murders.drop(columns=['total']),
                               left_on=['year', 'state'],
                               right_on=['year', 'state'],
                               how='outer')

In [154]:
# crime_incarceration + murders + mass_shootings
crime_incarceration = pd.merge(crime_incarceration,
                               mass_shootings,
                               left_on=['year', 'state'],
                               right_on=['year', 'state'],
                               how='outer')

In [155]:
# crime_incarceration + murders + mass_shootings + hate_crimes
crime_incarceration = pd.merge(crime_incarceration,
                               hate_crimes.drop(columns=['STATE_ABBR']),
                               left_on=['year', 'state'],
                               right_on=['year', 'state'],
                               how='outer')

In [156]:
crime_incarceration = crime_incarceration[~crime_incarceration['state'].isin(['National',
                                                                              'District of Columbia'])]
crime_incarceration.reset_index(drop=True, inplace=True)

In [157]:
crime_incarceration.isnull().sum(axis=0)

state                     0
year                      0
state_population          0
violent_crime_total       0
murder                    0
robbery                   0
agg_assault               0
property_crime_total      0
burglary                  0
larceny                   0
vehicle_theft             0
rape                      0
murder_cutting          163
murder_firearms         163
murder_other            163
murder_unarmed          163
mass_shootings          661
hate_crime_murder        25
hate_crime_other         25
dtype: int64

In [158]:
# fill mass_shootings with 0 (they did not happen)
crime_incarceration.mass_shootings = crime_incarceration.mass_shootings.fillna(0)

In [159]:
crime_incarceration = crime_incarceration.convert_dtypes()

In [160]:
columns = ['hate_crime_murder', 'hate_crime_other']

In [161]:
# no hate crime information on Hawaii
crime_incarceration[crime_incarceration[columns].isnull().any(axis=1) & 
                    (crime_incarceration.state == 'Hawaii')][['state', 'year'] + columns]

      state  year  hate_crime_murder  hate_crime_other
10   Hawaii  2001               <NA>              <NA>
60   Hawaii  2002               <NA>              <NA>
110  Hawaii  2003               <NA>              <NA>
160  Hawaii  2004               <NA>              <NA>
210  Hawaii  2005               <NA>              <NA>
260  Hawaii  2006               <NA>              <NA>
310  Hawaii  2007               <NA>              <NA>
360  Hawaii  2008               <NA>              <NA>
410  Hawaii  2009               <NA>              <NA>
460  Hawaii  2010               <NA>              <NA>
510  Hawaii  2011               <NA>              <NA>
560  Hawaii  2012               <NA>              <NA>
610  Hawaii  2013               <NA>              <NA>
660  Hawaii  2014               <NA>              <NA>
710  Hawaii  2015               <NA>              <NA>
760  Hawaii  2016               <NA>              <NA>

In [162]:
# filling in hate_crime_murder
fill_values = pd.concat([crime_incarceration.groupby('state')
                                            .fillna(method='ffill')
                                            .convert_dtypes()[columns[0]],
                         crime_incarceration.groupby('state')
                                            .fillna(method='bfill')
                                            .convert_dtypes()[columns[0]]], axis=1).mean(axis=1)
condition = crime_incarceration[columns[0]].isnull() & (crime_incarceration.state != 'Hawaii')
crime_incarceration.loc[condition, columns[0]] = fill_values[condition].astype('int')

In [163]:
# filling in hate_crime_other
fill_values = pd.concat([crime_incarceration.groupby('state')
                                            .fillna(method='ffill')
                                            .convert_dtypes()[columns[1]],
                         crime_incarceration.groupby('state')
                                            .fillna(method='bfill')
                                            .convert_dtypes()[columns[1]]], axis=1).mean(axis=1)
condition = crime_incarceration[columns[1]].isnull() & (crime_incarceration.state != 'Hawaii')
crime_incarceration.loc[condition, columns[1]] = fill_values[condition].astype('int')

In [164]:
columns = ['murder_cutting', 'murder_firearms', 'murder_other', 'murder_unarmed']

In [165]:
# no data on murder types in Florida
crime_incarceration[crime_incarceration[columns].isnull().any(axis=1) & \
                    ~crime_incarceration.year.isin([2001, 2002, 2003])]

,state,year,state_population,violent_crime_total,murder,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft,rape,murder_cutting,murder_firearms,murder_other,murder_unarmed,mass_shootings,hate_crime_murder,hate_crime_other
158,Florida,2004,17385430,123754,946,29997,86199,727141,166332,482484,78325,6612,<NA>,<NA>,<NA>,<NA>,0,0,274
208,Florida,2005,17768191,125957,883,30141,88341,712998,164783,472912,75303,6592,<NA>,<NA>,<NA>,<NA>,0,1,230
258,Florida,2006,18089888,129602,1129,34147,87851,721101,170873,473774,76454,6475,<NA>,<NA>,<NA>,<NA>,0,1,215
308,Florida,2007,18251243,131878,1202,38155,86372,746249,181836,490783,73630,6149,<NA>,<NA>,<NA>,<NA>,0,1,165
358,Florida,2008,18328340,126256,1168,36268,82848,758889,188472,506902,63515,5972,<NA>,<NA>,<NA>,<NA>,0,0,153
408,Florida,2009,18537969,113541,1017,30911,76112,712010,181884,479867,50259,5501,<NA>,<NA>,<NA>,<NA>,0,0,130
458,Florida,2010,18838613,101969,987,26086,69523,669035,169119,458454,41462,5373,<NA>,<NA>,<NA>,<NA>,0,0,136
508,Florida,2011,19082262,98198,984,25622,66319,671200,170171,461408,39621,5273,<NA>,<NA>,<NA>,<NA>,0,0,123
558,Florida,2012,19320749,94087,1009,23889,63929,632988,153563,442095,37330,5260,<NA>,<NA>,<NA>,<NA>,1,1,143
608,Florida,2013,19600311,91993,972,23200,61054,607170,138915,433344,34911,4765,<NA>,<NA>,<NA>,<NA>,1,0,119
658,Florida,2014,19893297,107521,1149,24914,72895,679446,143220,493647,42579,6051,<NA>,<NA>,<NA>,<NA>,1,1,64
708,Florida,2015,20271272,93626,1041,21137,63895,570270,109268,420341,40661,5430,<NA>,<NA>,<NA>,<NA>,6,0,72
758,Florida,2016,20656589,88700,1111,20175,59816,553812,100325,410352,43135,7598,<NA>,<NA>,<NA>,<NA>,10,0,110

In [168]:
national_murders = pd.read_csv('input/murders-by-method-usa-19992016/murders by type.csv')
national_murders = national_murders[national_murders.Year.isin([2001, 2002, 2003]) & \
                                    (national_murders.State == 'National')]
national_murders = national_murders.pivot(index=['Year', 'State'],
                                          columns='Type',
                                          values='By Weapon').reset_index()
national_murders.columns = ['year',
                            'state',
                            'murder_cutting',
                            'murder_firearms',
                            'murder_other', 
                            'murder_unarmed']

In [169]:
national_murders

,year,state,murder_cutting,murder_firearms,murder_other,murder_unarmed
0,2001,National,1796,8719,2313,924
1,2002,National,1767,9369,1989,929
2,2003,National,1816,9638,2010,944

In [170]:
# counting total for each column
national = crime_incarceration.groupby(['year']).sum().reset_index()
national['state'] = 'National'

In [171]:
# incerting values for types of murders
columns = ['murder_cutting', 'murder_firearms', 'murder_other', 'murder_unarmed']
national.loc[national.year.isin([2001, 2002, 2003]), columns] = national_murders.loc[:, columns]

In [172]:
crime_incarceration = pd.concat([national, crime_incarceration])
crime_incarceration.drop(columns=['violent_crime_total', 'property_crime_total'], inplace=True)

In [173]:
crime_incarceration

,year,state_population,murder,robbery,agg_assault,burglary,larceny,vehicle_theft,rape,murder_cutting,murder_firearms,murder_other,murder_unarmed,mass_shootings,hate_crime_murder,hate_crime_other,state
0,2001,284743737,15806,419777,904020,2111582,7069954,1220421,90682,1796,8719,2313,924,2,10,9710,National
1,2002,287404767,15965,416972,886445,2146082,7035671,1237047,94973,1767,9369,1989,929,2,12,7547,National
2,2003,290231356,16279,410294,854433,2150163,7008683,1251320,93609,1816,9638,2010,944,3,13,7500,National
3,2004,293102603,15950,398268,843413,2140500,6922547,1229443,94867,1866,9326,1996,933,2,6,7630,National
4,2005,295925012,16545,413738,858249,2151871,6768611,1228139,94181,1914,10100,1954,892,3,6,7364,National
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,2016,8414380,482,4826,10357,20159,127285,9848,2830,33,352,67,30,3,0,127,Virginia
796,2016,7280934,195,5649,13124,49249,173423,32322,3133,19,127,38,11,3,0,395,Washington
797,2016,1828637,85,720,5144,9127,25657,2498,684,4,47,21,4,0,0,41,West Virginia
798,2016,5772917,232,4707,10772,19498,82455,9958,2005,27,166,21,12,0,0,39,Wisconsin
799,2016,584910,20,59,1146,1771,8889,800,206,8,6,3,2,0,0,3,Wyoming

In [174]:
# incerting total column
columns = ['murder', 'robbery', 'agg_assault', 'rape', # violent crimes
           'burglary', 'larceny', 'vehicle_theft', # property crimes
           'mass_shootings', 'hate_crime_murder', 'hate_crime_other']
crime_incarceration['total'] = crime_incarceration[columns].sum(axis=1).astype('int')

In [175]:
crime_incarceration.reset_index(inplace=True, drop=True)

In [320]:
crime_incarceration.to_csv('crime_incarceration.csv', index=False)